@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about-us{
    padding: 4% 5%;
    width: 100%;
    height: 100vh;
    display: grid;
    /* place-items: left; */
    grid-template-columns: repeat(2,2fr);
    gap: 2rem;
}
.acc-text h1{
    text-align: left;
    padding-top:5%;
    /* margin-bottom:60px; */
    margin-left: 20px;
    font-size: 30px;
    font-weight: 700;
    position: relative;
}

.text{
    padding: 6% 0;
    
}
.text h4{
    color: rgb(0, 72, 255);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom:10px ;
}

.text h1{
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 55px;
    margin-bottom:30px ;
}

.text p{
    max-width: 600px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 60px;
}

.last-text{
    display: flex;
    /* margin: 20px; */
    
}
.text .ctas{
    margin-top:20px ;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.text .ctas .banner-cta{
    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 500;
                    width: fit-content;
                    border: 2px solid white;
                    padding: 10px 20px;
                    transition: all ease 0.3s;
                    cursor: pointer;
                    background-color: rgb(253, 6, 228);
                        color: rgb(255, 255, 255);
                        border-radius: 20px;
}
.text .ctas .banner-cta:hover{
    background-color: white;
    color:rgb(250, 3, 44) ;
    border: 2px solid rgb(250, 3, 44) ;
}

.text1{
    margin-right: 30px;
}

.last-text h3{
    margin-top: 10px;
    color: coral;
    text-align: center;
    /* font-size: 60px;
    font-weight: 700; */
}

@media(max-width:1385px){
    #about-us{
        padding:4% 4%;
        transition: .3s;
    }
    .main-img img{
        width: 500px;
        height: auto;
        transition: .3s;
    }
}
@media(max-width:1240px){
    .text h1{
        font-size: 30px;
        transition: .3s;
    }
}
@media(max-width:1040px){
    #about-us{
        grid-template-columns: 1fr;
        height: 100%;
    }
    .main-img img{
        padding-top:40px ;
    }
}
