@import "../../css-config/mixins.scss";

.main-content {
    .layout {
        max-width: calc(100% - 20px);
        margin: 0 auto;
        @include md {
            max-width: 1200px;
        }
    }
    .cat-heading {
        margin-top: 40px;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        background: linear-gradient(
            to right, #f32170, #ff6b08,
             #cf23cf, #eedd44);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        @include md {
            margin-bottom: 35px;
            font-size: 24px;
        }
        &:after {
            content: "";
            display: block;
            margin-top: 5px;
            width: 50px;
            height: 3px;
            background-color: #8e2de2;
            @include md {
                margin-top: 10px;
            }
        }
    }
}
