@import "../../css-config/mixins.scss";

.font-loader {
    font-family: 'Chilanka';
}

.main-header {
    width: 100%;
    padding: 0 20px;
    z-index: 99;
    background-color: #fb08e7;
    color: white;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 20px !important ;
    @include md {
        padding: 0 40px;
    }
    @include sm{
        background-color: cyan;
    }
    @include lg{
        background-color:rgb(185, 141, 227);
    }
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        max-width: 1200px;
        margin: 0 auto;
        @include md {
            height: 80px;
        }
    }
    .left {
        list-style-type: none;
        position: absolute;
        left : 25% ;
        display: none;
        gap: 25px;
        @include md {
            display: flex;
            align-items: center;
            

        }
        li {
            font-size: 20px  ;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                opacity: 0.6;
            }
            .link{
                color: white;
            }
        }
        
    }
    .center {
        font-size: 22px;
        font-weight: 700;
        cursor: pointer;
        @include md {
            font-size: 60px;
            position: relative;
            // left: 50%;
            transform: translateX(-50%);
        }.link{
            color: white;
        }
    }

    .linkcenter{
        color : white ;
        font-size: 30px ;
        // position: absolute;
        text-decoration: none;
        left : 0 ;
    }
    .right {
        display: flex;
        align-items: center;
        gap: 20px;
        @include md {
            gap: 25px;
        }
        .link{
            font-size: 20px;
            color: white;
        }
        svg {
            font-size: 20px;
            cursor: pointer;
            @include md {
                font-size: 24px;
            }
            &:hover {
                opacity: 0.6;
            }
        }
        .cart-icon {
            position: relative;
            span {
                min-width: 20px;
                text-align: center;
                background: #0229ef;
                padding: 2.5px;
                position: absolute;
                top: -5px;
                right: -12px;
                font-size: 12px;
                line-height: 1;
                border-radius: 10px;
            }
        }
    }
    &.sticky-header {
        background-color: #fb08e7;
        color: white;
        position: sticky;
        top: 0;
        transform: translateY(-60px);
        animation: StickyHeader 0.3s ease forwards;

        @include sm{
            background-color: cyan;
        }
        @include lg{
            background-color: blueviolet;
        }
    }
}

@keyframes StickyHeader {
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(185, 141, 227);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 460px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 16px 30px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: normal;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}